!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title="Formula profi"
    %link{:href => "styles/reset.css", :rel => "stylesheet"}
    %link{:href => "styles/style.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}
  -#%link{:href => "SASS-grid/grid.css", :rel => "stylesheet"}
  %body.wrapper
    .card
      .card__column--primary
        %h1.card__article-header Лак для ногтей
        %img.card__img{:src => "http://www.ledi-art.ru/catalog/laki-dlya-nogtei/laki-dlya-nogtei/laki-klassik-classics/seriya-gl/copy42_of_lak-dlya-nogtei-no131-02216/image"}
        %p.card__article-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem earum eos harum maiores, nam officia perspiciatis voluptas. A, natus quia.
      .card__column--secondary


