!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}
    %title="Formula profi"
    %link{:href => "reset.css", :rel => "stylesheet"}
    %link{:href => "style.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}
  .bg1
  .bg2
  %body
    .header
      .header__image
        .basket--widget
          %p
            В
            %a{:href => "#"}корзине
            %span#amt 1488
            товаров на сумму
            %span#sum 100500
            рублей
        %form.search
          %input{:name => "search", :type => "text", :placeholder => "Поиск здесь..."}
          %button{:type => "submit"}
      .header__navbar
        %a.navbar__button.group1{:href => "#"} Группа 1
        %a.navbar__button.group2{:href => "#"} Группа 2
        %a.navbar__button.group3{:href => "#"} Группа 3
        %a.navbar__button.group4{:href => "#"} Группа 4
        %a.navbar__button.group5{:href => "#"} Группа 5
        .navbar__submenu.group1
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3
          %a.navbar__button{:href => "#"} Подгруппа 4
        .navbar__submenu.group2
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3
          %a.navbar__button{:href => "#"} Подгруппа 4
          %a.navbar__button{:href => "#"} Подгруппа 5
        .navbar__submenu.group3
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
        .navbar__submenu.group4
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3
          %a.navbar__button{:href => "#"} Подгруппа 4
        .navbar__submenu.group5
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3
    .main
      .breadcrumbs
        %a{:href => "#"} Главная >
        %a{:href => "#"} Вторая >
        %a{:href => "#"} Третья >
        %a{:href => "#"} Текущая
      .main__header Оформление заказа
      .basket
        %table.basket__table
          %caption Корзина
          %thead
            %tr
              %td.text-align--start Название
              %td Артикул
              %td Цена
              %td Количество/обновить
              %td Промежуточный итог
          %tbody
            %tr
              %td.text-align--start
                %a{:href => "#"} Latin Night
                %img.table__img{:src => "http://farmasi-inform.com/sites/default/files/1/40_lak_ukrepitel.jpg"}
                %br
                Туалетная вода:
                %br
                100мл
              %td ORDR_LATIN_^_^
              %td 1888 руб.
              %td
                %form
                  %input{:type => "number", :value => "1"}
                  %button{:type => "submit"} обновить
                  %button.button--delete X
              %td 1888 руб.
            %tr
              %td.text-align--start
                %a{:href => "#"} Latin Night
                %img.table__img{:src => "http://farmasi-inform.com/sites/default/files/1/40_lak_ukrepitel.jpg"}
                %br
                Туалетная вода:
                %br
                100мл
              %td ORDR_LATIN_^_^
              %td 1888 руб.
              %td
                %form
                  %input{:type => "number", :value => "1"}
                  %button{:type => "submit"} обновить
                  %button.button--delete X
              %td 1888 руб.
            %tr
              %td.text-align--start
                %a{:href => "#"} Latin Night
                %img.table__img{:src => "http://farmasi-inform.com/sites/default/files/1/40_lak_ukrepitel.jpg"}
                %br
                Туалетная вода:
                %br
                100мл
              %td ORDR_LATIN_^_^
              %td 1888 руб.
              %td
                %form
                  %input{:type => "number", :value => "1"}
                  %button{:type => "submit"} обновить
                  %button.button--delete X
              %td 1888 руб.
          %tfoot
            %tr
              %td{:colspan => "5"} Итого: 1888 руб.
        %h1 Ваши координаты
        %hr
        %form
          .buyer__info
            %br
            %h4 Как Вас зовут?
            %br
            Фамилия:
            %input{:type => "text", :maxlength => "20"}
            %br
            %br
            Имя:
            %input{:type => "text", :maxlength => "20"}
            %br
            %br
            %h4 Как с Вами связаться?
            %br
            Телефон:
            %input{:type => "tel", :pattern => "[^a-zA-Zа-яА-ЯёЁ]+"}
            %br
            %br
            %br
            %hr
            %hr
          .order
            %h4 Куда доставить Ваш заказ?
            %br
            Адрес:
            %input{:type => "text", :maxlength => "50"}
            %br
            %br
            %h4 Тип доставки:
            %br
            %select
              %option Самовывоз
              %option На муле
              %option На осле
              %option На коне
            %br
            %br
            %h4 Способ оплаты:
            %br
            %select
              %option Деньгами
              %option За спасибо
              %option Дочкой
              %option Ромом
            %br
            %br
            %h4 Оставите комментарий к заказу?
            %br
            %textarea{:cols => "60", :rows => "6", :placeholder => "Комментарий..."}
            %br
            %br
          %hr
          %button.confirm{:type => "submit"} Подтвердить заказ
    .footer