!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}
    %title="Formula profi"
    %link{:href => "reset.css", :rel => "stylesheet"}
    %link{:href => "style.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}
  .bg1
  .bg2
  %body
    .header
      .header__image
        %form.search
          %input{:name => "search", :type => "text", :placeholder => "Поиск здесь..."}
          %button{:type => "submit"}
      .header__navbar
        %a.navbar__button.group1{:href => "#"} Группа 1
        %a.navbar__button.group2{:href => "#"} Группа 2
        %a.navbar__button.group3{:href => "#"} Группа 3
        %a.navbar__button.group4{:href => "#"} Группа 4
        %a.navbar__button.group5{:href => "#"} Группа 5
        .navbar__submenu.group1
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3
          %a.navbar__button{:href => "#"} Подгруппа 4
        .navbar__submenu.group2
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3
          %a.navbar__button{:href => "#"} Подгруппа 4
          %a.navbar__button{:href => "#"} Подгруппа 5
        .navbar__submenu.group3
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
        .navbar__submenu.group4
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3
          %a.navbar__button{:href => "#"} Подгруппа 4
        .navbar__submenu.group5
          %a.navbar__button{:href => "#"} Подгруппа 1
          %a.navbar__button{:href => "#"} Подгруппа 2
          %a.navbar__button{:href => "#"} Подгруппа 3

    .main
      .main__left
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img1.liveinternet.ru/images/attach/c/9/106/732/106732973_3798429_LakMaxFactor.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ВСЕ ДЛЯ ДЕТЕЙ
            %img.card__image{:src => "http://s.pikabu.ru/post_img/2013/06/13/6/1371114596_289636088.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img1.liveinternet.ru/images/attach/c/9/106/732/106732973_3798429_LakMaxFactor.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img1.liveinternet.ru/images/attach/c/9/106/732/106732973_3798429_LakMaxFactor.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img1.liveinternet.ru/images/attach/c/9/106/732/106732973_3798429_LakMaxFactor.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img1.liveinternet.ru/images/attach/c/9/106/732/106732973_3798429_LakMaxFactor.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img1.liveinternet.ru/images/attach/c/9/106/732/106732973_3798429_LakMaxFactor.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img.redmega.ru/catalog/cosmetics/LOreal00016321K3.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
        .card
          .card__primary-side
            %h2.card__header
              ЛАК ДЛЯ НОГТЕЙ
            %img.card__image{:src => "http://img1.liveinternet.ru/images/attach/c/9/106/732/106732973_3798429_LakMaxFactor.jpg"}
            %p.card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta in mollitia tenetur unde?
          .card__secondary-side
            .secondary-side__choice.colorpicker
              %a.colorpicker__option--rainbow.colorpicker__option{:tabindex => "1"}
              .colorpicker__option--green.colorpicker__option
              .colorpicker__option--red.colorpicker__option
              .colorpicker__option--blue.colorpicker__option
              .colorpicker__option--brown.colorpicker__option
              .colorpicker__option--pink.colorpicker__option
            %button.secondary-side__fullpage
            %button.secondary-side__buy
      .main__rightmenu.rightmenu
        %a.rightmenu__button.rightmenu__button-1 Группа 1
        .rightmenu__submenu.rightmenu__submenu-1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-2 Группа 2
        .rightmenu__submenu.rightmenu__submenu-2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-3 Группа 3
        .rightmenu__submenu.rightmenu__submenu-3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-4 Группа 4
        .rightmenu__submenu.rightmenu__submenu-4
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-5 Группа 5
        .rightmenu__submenu.rightmenu__submenu-5
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-6 Группа 6
        .rightmenu__submenu.rightmenu__submenu-6
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-7 Группа 7
        .rightmenu__submenu.rightmenu__submenu-7
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-8 Группа 8
        .rightmenu__submenu.rightmenu__submenu-8
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-9 Группа 9
        .rightmenu__submenu.rightmenu__submenu-9
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-10 Группа 10
        .rightmenu__submenu.rightmenu__submenu-10
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-11 Группа 11
        .rightmenu__submenu.rightmenu__submenu-11
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
        %a.rightmenu__button.rightmenu__button-12 Группа 12
        .rightmenu__submenu.rightmenu__submenu-12
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 1
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 2
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 3
          %a.rightmenu__submenu__button{:href => "#"} Подгруппа 4
    .footer