@charset "UTF-8";
.text-align--start {
  text-align: start; }

.text-align--center {
  text-align: center; }

.button--delete {
  font-weight: 900;
  font-family: Tahoma; }

html {
  min-height: 100%;
  background: linear-gradient(cornflowerblue, #ffffff, #ffbdc6);
  font-family: sans-serif; }

.bg1, .bg2 {
  background: transparent url("http://www.playcast.ru/uploads/2013/12/27/6970968.png");
  animation: snow1 10s linear infinite;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10; }

.bg2 {
  animation: snow2 20s linear infinite;
  z-index: -9; }

@keyframes snow1 {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 662px; } }
@keyframes snow2 {
  from {
    background-position: 200px 0; }
  to {
    background-position: 200px 662px; } }
body {
  min-height: 100%;
  -webkit-box-shadow: 1px 0 15px #373737;
  -moz-box-shadow: 1px 0 15px #373737;
  box-shadow: 1px 0 15px #373737;
  min-width: 1024px;
  max-width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ffffff, #f0f0f0, #dfdfdf); }

.header {
  overflow: hidden; }
  .header__image {
    background: url("http://nogti.ru/public/img/upload/images/DSC_0442-1-1024x415.jpg") no-repeat;
    -moz-background-size: 100% 250%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100% 250%;
    /* Safari 3.1+ ╨╕ Chrome 4.0+ */
    -o-background-size: 100% 250%;
    /* Opera 9.6+ */
    background-size: 100% 250%;
    /* ╨б╨╛╨▓╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ ╨▒╤А╨░╤Г╨╖╨╡╤А╤Л */
    height: 130px;
    overflow: hidden; }
    .header__image .basket--widget {
      float: left;
      background: whitesmoke;
      -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 7px #111;
      border-radius: 7px;
      margin: 12px;
      padding: 12px;
      font-family: "Tahoma", sans-serif;
      font-weight: 400; }
      .header__image .basket--widget a {
        color: #c0001b;
        text-decoration: underline;
        font-size: 110%;
        text-shadow: #471d20 0 0 0.5px; }
        .header__image .basket--widget a:hover {
          text-decoration: none;
          text-shadow: #826570 0 0 3px; }
      .header__image .basket--widget span {
        color: #c0001b;
        font-weight: 600; }
    .header__image .search {
      float: right;
      width: 20%;
      position: relative; }
      .header__image .search input {
        padding: 5px;
        margin: 5px 0 0 0;
        height: 40px;
        width: 100%;
        border-bottom-left-radius: 20px;
        cursor: text;
        color: #000000;
        line-height: 30px;
        font-size: 120%;
        -webkit-box-shadow: inset -1px 2px 5px grey, 0 2px 5px grey;
        -moz-box-shadow: inset -1px 2px 5px grey, 0 2px 5px grey;
        box-shadow: inset -1px 2px 5px grey, 0 2px 5px grey; }
      .header__image .search button {
        display: inline-block;
        position: absolute;
        right: 2px;
        top: 5px;
        background: url("http://iconizer.net/files/Bunch_of_Bluish_Icons/thumb/128/search.png") no-repeat;
        background-size: cover;
        height: 35px;
        width: 35px;
        padding: 0;
        cursor: pointer; }
  .header__navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    justify-content: space-around;
    background: linear-gradient(#ababab, #ababab, #ababab, #f1f1f1);
    height: 80px; }
    .header__navbar .navbar__button {
      box-shadow: black 0 2px 3px;
      display: block;
      background: linear-gradient(#f30022, #c0001b);
      position: relative;
      z-index: 3;
      flex-grow: 1;
      margin: 0 0 -3px 0;
      padding: 0 0 3px 0;
      height: 35px;
      border-left: 1px solid black;
      font-family: "Lobster", cursive;
      text-align: center;
      font-size: 150%;
      line-height: 35px;
      color: white; }
    .header__navbar .navbar__button:first-child {
      border-left: none; }
    .header__navbar .navbar__button:hover {
      color: #e6e6e6;
      background: linear-gradient(#c0001b, #8d0014); }
    .header__navbar .navbar__submenu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 35px;
      -webkit-transition: top 0.1s ease-out 0s;
      -moz-transition: top 0.1s ease-out 0s;
      -o-transition: top 0.1s ease-out 0s;
      transition: top 0.1s ease-out 0s; }
      .header__navbar .navbar__submenu .navbar__button {
        max-width: 300px;
        z-index: 0; }
    .header__navbar .navbar__button.group1:hover ~ .navbar__submenu.group1, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group2:hover ~ .navbar__submenu.group2, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group3:hover ~ .navbar__submenu.group3, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group4:hover ~ .navbar__submenu.group4, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group5:hover ~ .navbar__submenu.group5, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group6:hover ~ .navbar__submenu.group6, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group7:hover ~ .navbar__submenu.group7, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group8:hover ~ .navbar__submenu.group8, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group9:hover ~ .navbar__submenu.group9, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group10:hover ~ .navbar__submenu.group10, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group11:hover ~ .navbar__submenu.group11, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group12:hover ~ .navbar__submenu.group12, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group13:hover ~ .navbar__submenu.group13, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group14:hover ~ .navbar__submenu.group14, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }
    .header__navbar .navbar__button.group15:hover ~ .navbar__submenu.group15, .header__navbar .navbar__submenu:hover {
      top: 41px;
      z-index: 2;
      -webkit-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -moz-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      -o-transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s;
      transition: top 0.5s cubic-bezier(0.5, 1.8, 0.2, 0.5) 0s; }

.main {
  top: 75px;
  position: relative; }
  .main .breadcrumbs {
    position: absolute;
    width: auto;
    top: -120px;
    left: 20px; }
    .main .breadcrumbs a {
      padding: 8px;
      line-height: 30px;
      display: inline-block;
      color: grey;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 90%; }
    .main .breadcrumbs a:last-child {
      color: #c0001b; }
  .main .main--flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-grow: 1; }
  .main .main__left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 78%;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start; }
  .main .main__rightmenu {
    flex-basis: 22%;
    flex-grow: 1; }
  .main .main__header {
    margin-top: -60px;
    width: 100%;
    text-align: center;
    font-family: serif;
    font-size: 220%;
    font-weight: 600;
    color: #8f0000; }
  .main .pagination {
    padding: 12px;
    background-color: #dfdfdf;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    .main .pagination a {
      color: red;
      font-weight: 700; }

.rightmenu {
  overflow: hidden;
  position: relative;
  margin: -80px 0 0 10px;
  padding: 7px 0 150px 7px; }
  .rightmenu__button, .rightmenu__submenu__button, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__subsubmenu__button {
    position: relative;
    display: block;
    border: solid 2px #c0001b;
    margin: 0 0 -2px 0;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 150%;
    font-family: 'Poiret One', sans-serif;
    color: #000;
    text-shadow: black 0 0;
    line-height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 3px 3px 15px #737373, inset -5px -1px 2px #c0001b;
    -moz-box-shadow: 3px 3px 15px #737373, inset -5px -1px 2px #c0001b;
    box-shadow: 3px 3px 15px #737373, inset -5px -1px 2px #c0001b; }
    .rightmenu__button.active, .active.rightmenu__submenu__button, .rightmenu__submenu .rightmenu__subsubmenu .active.rightmenu__subsubmenu__button {
      background-color: rgba(255, 0, 102, 0.36); }
  .rightmenu__button:hover, .rightmenu__button.active, .active.rightmenu__submenu__button, .rightmenu__submenu .rightmenu__subsubmenu .active.rightmenu__subsubmenu__button, .rightmenu__submenu__button:hover, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__subsubmenu__button:hover {
    font-size: 170%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 3px 4px 10px #737373, inset -5px -1px 3px #c0001b;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 3px 4px 10px #737373, inset -5px -1px 3px #c0001b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 3px 4px 10px #737373, inset -5px -1px 3px #c0001b;
    -webkit-transition: all .1s ease 0s;
    -moz-transition: all .1s ease 0s;
    -o-transition: all .1s ease 0s;
    transition: all .1s ease 0s; }
  .rightmenu .rightmenu__button-1:hover ~ .rightmenu__submenu-1, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-2:hover ~ .rightmenu__submenu-2, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-3:hover ~ .rightmenu__submenu-3, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-4:hover ~ .rightmenu__submenu-4, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-5:hover ~ .rightmenu__submenu-5, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-6:hover ~ .rightmenu__submenu-6, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-7:hover ~ .rightmenu__submenu-7, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-8:hover ~ .rightmenu__submenu-8, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-9:hover ~ .rightmenu__submenu-9, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-10:hover ~ .rightmenu__submenu-10, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-11:hover ~ .rightmenu__submenu-11, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-12:hover ~ .rightmenu__submenu-12, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-13:hover ~ .rightmenu__submenu-13, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-14:hover ~ .rightmenu__submenu-14, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu .rightmenu__button-15:hover ~ .rightmenu__submenu-15, .rightmenu .rightmenu__submenu:hover, .rightmenu .rightmenu__submenu .rightmenu__subsubmenu:hover, .rightmenu__submenu .rightmenu .rightmenu__subsubmenu:hover {
    max-height: 600px;
    display: block;
    z-index: 10;
    -webkit-transition: max-height 1s ease .1s;
    -moz-transition: max-height 1s ease .1s;
    -o-transition: max-height 1s ease .1s;
    transition: max-height 1s ease .1s; }
  .rightmenu__submenu, .rightmenu__submenu .rightmenu__subsubmenu {
    position: relative;
    left: 5.5%;
    z-index: 3;
    width: 95%;
    -webkit-transition: max-height 1s ease 0s;
    -moz-transition: max-height 1s ease 0s;
    -o-transition: max-height 1s ease 0s;
    transition: max-height 1s ease 0s;
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 5px; }
    .rightmenu__submenu.active, .rightmenu__submenu .active.rightmenu__subsubmenu {
      position: relative;
      max-height: 600px; }
    .rightmenu__submenu__button, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__subsubmenu__button {
      font-size: 140%;
      padding: 0 0 0 10px;
      margin: -2px 0 0;
      background: linear-gradient(white, #afafaf);
      height: 35px;
      line-height: 35px;
      text-align: left;
      -webkit-box-shadow: 3px 4px 10px black, inset -5px -1px 3px #c0001b;
      -moz-box-shadow: 3px 4px 10px black, inset -5px -1px 3px #c0001b;
      box-shadow: 3px 4px 5px black, inset -5px -1px 3px #c0001b, inset 2px 1px 10px white; }
    .rightmenu__submenu .rightmenu__submenu__button-1:hover ~ .rightmenu__subsubmenu-1, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-1:hover ~ .rightmenu__subsubmenu-1, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-2:hover ~ .rightmenu__subsubmenu-2, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-2:hover ~ .rightmenu__subsubmenu-2, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-3:hover ~ .rightmenu__subsubmenu-3, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-3:hover ~ .rightmenu__subsubmenu-3, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-4:hover ~ .rightmenu__subsubmenu-4, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-4:hover ~ .rightmenu__subsubmenu-4, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-5:hover ~ .rightmenu__subsubmenu-5, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-5:hover ~ .rightmenu__subsubmenu-5, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-6:hover ~ .rightmenu__subsubmenu-6, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-6:hover ~ .rightmenu__subsubmenu-6, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-7:hover ~ .rightmenu__subsubmenu-7, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-7:hover ~ .rightmenu__subsubmenu-7, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-8:hover ~ .rightmenu__subsubmenu-8, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-8:hover ~ .rightmenu__subsubmenu-8, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-9:hover ~ .rightmenu__subsubmenu-9, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-9:hover ~ .rightmenu__subsubmenu-9, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-10:hover ~ .rightmenu__subsubmenu-10, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-10:hover ~ .rightmenu__subsubmenu-10, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-11:hover ~ .rightmenu__subsubmenu-11, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-11:hover ~ .rightmenu__subsubmenu-11, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-12:hover ~ .rightmenu__subsubmenu-12, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-12:hover ~ .rightmenu__subsubmenu-12, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-13:hover ~ .rightmenu__subsubmenu-13, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-13:hover ~ .rightmenu__subsubmenu-13, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-14:hover ~ .rightmenu__subsubmenu-14, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-14:hover ~ .rightmenu__subsubmenu-14, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__submenu__button-15:hover ~ .rightmenu__subsubmenu-15, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__submenu__button-15:hover ~ .rightmenu__subsubmenu-15, .rightmenu__submenu .rightmenu__subsubmenu:hover {
      max-height: 300px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s; }
    .rightmenu__submenu .rightmenu__subsubmenu {
      position: relative; }
      .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__subsubmenu__button {
        font-size: 130%; }

.card {
  border: dashed #cc1200 2px;
  margin: 5px;
  min-width: 160px;
  flex-basis: 23%; }
  .card:hover {
    -webkit-box-shadow: 4px 3px 10px grey;
    -moz-box-shadow: 4px 3px 10px grey;
    box-shadow: 4px 3px 10px grey;
    margin: 0 10px 10px 0;
    -webkit-transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
    -moz-transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
    -o-transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
    transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s; }
  .card__primary-side {
    position: relative; }
    .card__primary-side .card__header {
      white-space: nowrap;
      font-family: 'Poiret One', sans-serif;
      color: red;
      text-shadow: #000000 0 0 15px, #000000 0 0 8px, #000000 0 0 5px, red 0 0 1px, red 0 0 1px, red 0 0 1px, red 0 0 1px, red 0 0 1px;
      z-index: 4;
      position: absolute;
      right: 5px;
      top: 5px;
      border-radius: 20px;
      max-width: 100%;
      font-size: 150%;
      padding: 10px;
      text-align: end;
      vertical-align: text-top;
      background-color: rgba(255, 255, 255, 0.6); }
    .card__primary-side .card__image {
      max-width: 100%;
      max-height: 250px;
      margin: 0 auto 10px;
      display: block;
      image-rendering: -webkit-optimize-contrast; }
  .card .card__bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .card .card__bottom .card__description {
      flex-basis: 75%;
      flex-grow: 1;
      font-size: 1.5vmin;
      text-align: center;
      letter-spacing: 0.12em;
      padding: 0 1% 5% 5%;
      line-height: 90%; }
    .card .card__bottom .card__buttons {
      flex-basis: 25%;
      flex-grow: 1; }
      .card .card__bottom .card__buttons button {
        padding: 0;
        position: relative;
        z-index: 1000;
        background-color: white;
        border-radius: 5px;
        border: #830000 2px solid;
        -webkit-box-shadow: 0 4px 3px black;
        -moz-box-shadow: 0 4px 3px black;
        box-shadow: 0 2px 4px black;
        margin: 0 0 10px;
        font-size: 1.5vh; }
      .card .card__bottom .card__buttons .secondary-side__buy {
        padding: 3px;
        border-radius: 10px;
        border: #c30000 3px solid;
        font-family: "Lobster", cursive;
        font-size: 2vh;
        background: linear-gradient(-30deg, white, #ff3e3f, white, white); }

.article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: 80%;
  flex-grow: 0;
  margin-top: 10px; }
  .article__img {
    flex-basis: 50%;
    flex-grow: 2; }
    .article__img img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto; }
  .article__text {
    flex-basis: 50%;
    flex-grow: 2;
    font-family: "Tahoma", sans-serif; }
    .article__text h1 {
      font-size: 300%;
      margin: 25px 30px 5px 0; }
    .article__text h2 {
      font-size: 270%;
      margin: 25px 30px 5px 0; }
    .article__text p {
      margin: 25px 30px 5px 0; }

.basket {
  flex-grow: 4;
  flex-basis: 78%; }
  .basket h1 {
    text-align: center;
    font-family: "Tahoma", sans-serif;
    font-size: 200%;
    color: #8c8c8c;
    font-weight: 700;
    padding: 20px; }
  .basket .basket__table {
    margin: 30px auto;
    padding: 30px;
    position: relative; }
    .basket .basket__table .table__img {
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      display: none;
      position: absolute;
      height: 50%;
      min-height: 200px; }
    .basket .basket__table td {
      padding: 7px;
      min-width: 150px; }
    .basket .basket__table caption {
      text-align: center;
      font-family: "Tahoma", sans-serif;
      font-size: 200%;
      color: #8c8c8c;
      font-weight: 700;
      padding: 20px; }
    .basket .basket__table thead {
      border-bottom: 2px #a5a5a5 solid;
      text-align: center;
      color: #5b5b5b;
      background-color: #d7d7d7;
      font-weight: 700;
      font-size: 80%; }
      .basket .basket__table thead tr td {
        padding: 15px; }
    .basket .basket__table tbody {
      font-size: 90%;
      text-align: center;
      color: #5b5b5b; }
      .basket .basket__table tbody a {
        color: #c0001b;
        text-decoration: underline;
        font-weight: 700;
        font-size: 105%; }
        .basket .basket__table tbody a:hover ~ .table__img {
          display: block; }
      .basket .basket__table tbody input {
        width: 30%;
        text-align: end; }
      .basket .basket__table tbody button {
        margin-left: 5px;
        border-radius: 3px;
        padding: 4px; }
      .basket .basket__table tbody tr:nth-child(2n+1) {
        background-color: whitesmoke; }
      .basket .basket__table tbody tr:nth-child(2n) {
        background-color: #e4e4e4; }
    .basket .basket__table tfoot {
      border-top: 2px #a5a5a5 solid;
      font-weight: 700;
      text-align: end; }
      .basket .basket__table tfoot tr td {
        background-color: #d7d7d7;
        padding: 10px 70px; }
  .basket .buyer__info, .basket .order {
    margin: 20px auto 50px;
    max-width: 900px; }
    .basket .buyer__info h4, .basket .order h4 {
      font-family: "Tahoma", sans-serif;
      font-size: 140%;
      color: #606060;
      font-weight: 700; }
    .basket .buyer__info input, .basket .order input {
      padding: 2px;
      border-radius: 1px; }
    .basket .buyer__info textarea, .basket .order textarea {
      padding: 5px; }
  .basket button.confirm {
    display: block;
    background: linear-gradient(to bottom, red, #c0001b);
    margin: 0 auto 100px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-family: "Tahoma", sans-serif;
    font-size: 200%;
    font-weight: 700;
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    box-shadow: 0 0 18px black; }
    .basket button.confirm:active {
      background: linear-gradient(to bottom, #e10000, #b80000) !important;
      margin: 5px auto 100px;
      -webkit-box-shadow: 0 0 2px black;
      -moz-box-shadow: 0 0 2px black;
      box-shadow: inset 0 0 10px #5d5d5d; }

.footer {
  padding: 12px;
  height: 100px;
  background-color: #dfdfdf; }
  .footer__navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    .footer__navbar a {
      color: red;
      font-weight: 700; }

@media screen and (max-width: 1023px) {
  body {
    max-width: 100%;
    min-width: 100%; }

  .breadcrumbs {
    font-size: 130%; }

  .rightmenu__button, .rightmenu__submenu__button, .rightmenu__submenu .rightmenu__subsubmenu .rightmenu__subsubmenu__button {
    font-size: 200%;
    height: 60px;
    line-height: 60px; }

  .card {
    min-width: 30%;
    max-width: 90%;
    flex-basis: 80%; }
    .card .card__bottom .card__description {
      font-family: "Tahoma", sans-serif;
      font-size: 180%; } }

/*# sourceMappingURL=style.css.map */
