$pink-bg: #ffbdc6;
$card-color: rgba(255, 255, 255, 0.6);
$red: #c0001b;
$color-arrow: #ff7c57;
$color-active: rgba(255, 0, 102, 0.36);
$height-navbut: 35px;
$banner__navbar--height: 50px;
$height-rightmenu__button: 40px;
$height-rightmenu__submenu__button: 35px;
$height-rightmenu__button--phone: 60px;

//лишние переменные begin
//$width-body: 980px;
//$width-img: 140px;
//$width-client: 100px;
//$banner__navbar--height: 50px;
//$blue: #29c5e6;
//$lightgray: #f3f3f3;
//$midgray: #e2e2e2;
//$darkgray: #7e7e7e;
//$midgray-text: #a1a1a1;
//$darkgray-text: #5a5a5a;
//лишние переменные end
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.text-align--start {
  text-align: start;
}
.text-align--center {
  text-align: center;
}

.button--delete {
  font-weight: 900;
  font-family: Tahoma;
}

//.colorpicker {
//  width: 100%;
//  overflow: hidden;
//  .colorpicker__option--rainbow:focus ~ .colorpicker__option {
//    height: 20px;
//  }
//  &__option {
//    width: 100%;
//    height: 0;
//    cursor: pointer;
//    &--rainbow {
//      height: 20px;
//      display: block;
//      border-bottom-left-radius: 5px;
//      border-bottom-right-radius: 5px;
//      background: linear-gradient(to right, red, orange, yellow, lawngreen, deepskyblue, blueviolet);
//    }
//    &--rainbow:focus {
//      background: transparent;
//      border: none;
//      outline: none;
//      cursor: default;
//    }
//    &--green {
//      background-color: #17b43d;
//    }
//    &--red {
//      background-color: $red;
//    }
//    &--blue {
//      background-color: deepskyblue;
//    }
//    &--brown {
//      background-color: #65261a;
//    }
//    &--pink {
//      background-color: deeppink;
//    }
//  }
//}

html {
  min-height: 100%;
  background: linear-gradient(cornflowerblue, #ffffff, $pink-bg);
  font-family: sans-serif;
}

.bg1 {
  background: transparent url("http://www.playcast.ru/uploads/2013/12/27/6970968.png");
  animation: snow1 10s linear infinite;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

.bg2 {
  @extend .bg1;
  animation: snow2 20s linear infinite;
  z-index: -9;
}

@keyframes snow1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 662px;
  }
}

@keyframes snow2 {
  from {
    background-position: 200px 0;
  }
  to {
    background-position: 200px 662px;
  }
}

body {
  min-height: 100%;
  -webkit-box-shadow: 1px 0 15px #373737;
  -moz-box-shadow: 1px 0 15px #373737;
  box-shadow: 1px 0 15px #373737;
  min-width: 1024px;
  max-width: 80%;
  margin: auto;
  @include flexbox();
  flex-direction: column;
  background: linear-gradient(#ffffff, #f0f0f0, #dfdfdf);
}

.header {
  overflow: hidden;
  &__image {
    background: url("http://nogti.ru/public/img/upload/images/DSC_0442-1-1024x415.jpg") no-repeat;
    -moz-background-size: 100% 250%; /* Firefox 3.6+ */
    -webkit-background-size: 100% 250%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100% 250%; /* Opera 9.6+ */
    background-size: 100% 250%; /* Современные браузеры */
    height: 130px;
    overflow: hidden;
    .basket--widget {
      float: left;
      background: whitesmoke;
      -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 7px #111;
      border-radius: 7px;
      margin: 12px;
      padding: 12px;
      font-family: "Tahoma", sans-serif;
      font-weight: 400;
      a {
        color: $red;
        text-decoration: underline;
        font-size: 110%;
        text-shadow: #471d20 0 0 0.5px;
        &:hover {
          text-decoration: none;
          text-shadow: #826570 0 0 3px;
        }
      }
      span {
        color: $red;
        font-weight: 600;
      }
    }
    .search {
      float: right;
      width: 20%;
      position: relative;
      input {
        padding: 5px;
        margin: 5px 0 0 0;
        height: 40px;
        width: 100%;
        border-bottom-left-radius: 20px;
        cursor: text;
        color: #000000;
        line-height: 30px;
        font-size: 120%;
        -webkit-box-shadow: inset -1px 2px 5px grey, 0 2px 5px grey;
        -moz-box-shadow: inset -1px 2px 5px grey, 0 2px 5px grey;
        box-shadow: inset -1px 2px 5px grey, 0 2px 5px grey;
      }
      button {
        display: inline-block;
        position: absolute;
        right: 2px;
        top: 5px;
        background: url("http://iconizer.net/files/Bunch_of_Bluish_Icons/thumb/128/search.png") no-repeat;
        background-size: cover;
        height: 35px;
        width: 35px;
        padding: 0;
        cursor: pointer;
      }
    }
  }
  &__navbar {
    @include flexbox();
    position: relative;
    justify-content: space-around;
    background: linear-gradient(#ababab, #ababab, #ababab, #f1f1f1);
    height: $height-navbut*2+10px;
    .navbar__button {
      box-shadow: black 0 2px 3px;
      display: block;
      background: linear-gradient(lighten($red, 10%), $red);
      position: relative;
      z-index: 3;
      flex-grow: 1;
      margin: 0 0 -3px 0;
      padding: 0 0 3px 0;
      height: $height-navbut;
      border-left: 1px solid black;
      font-family: "Lobster", cursive;
      text-align: center;
      font-size: 150%;
      line-height: $height-navbut;
      color: white;
    }
    .navbar__button:first-child {
      border-left: none;
    }
    .navbar__button:hover {
      color: darken(white, 10%);
      background: linear-gradient($red, darken($red, 10%));
    }
    .navbar__submenu {
      @include flexbox();
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: $height-navbut;
      -webkit-transition: top 0.1s ease-out 0s;
      -moz-transition: top 0.1s ease-out 0s;
      -o-transition: top 0.1s ease-out 0s;
      transition: top 0.1s ease-out 0s;
      .navbar__button {
        max-width: 300px;
        z-index: 0;
      }
    }
    @for $i from 1 through 15 {
      .navbar__button.group#{$i}:hover ~ .navbar__submenu.group#{$i}, .navbar__submenu:hover {
        top: $height-navbut+6px;
        z-index: 2;
        -webkit-transition: top 0.5s cubic-bezier(.5, 1.8, .2, 0.5) 0s;
        -moz-transition: top 0.5s cubic-bezier(.5, 1.8, .2, 0.5) 0s;
        -o-transition: top 0.5s cubic-bezier(.5, 1.8, .2, 0.5) 0s;
        transition: top 0.5s cubic-bezier(.5, 1.8, .2, 0.5) 0s;
      }
    }
  }
}

.main {
  top: 75px;
  position: relative;
  .breadcrumbs {
    position: absolute;
    width: auto;
    top: -120px;
    left: 20px;
    a {
      padding: 8px;
      line-height: 30px;
      display: inline-block;
      color: grey;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 90%;
    }
    a:last-child {
      color: $red;
    }
  }
  .main--flex {
    @include flexbox();
    flex-grow: 1;
  }

  .main__left {
    @include flexbox();
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 78%;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
  .main__rightmenu {
    flex-basis: 22%;
    flex-grow: 1;
  }
  .main__header {
    margin-top: -60px;
    width: 100%;
    text-align: center;
    font-family: serif;
    font-size: 220%;
    font-weight: 600;
    color: #8f0000;
  }
  .pagination {
    padding: 12px;
    background-color: #dfdfdf;
    width: 100%;
    a {
      color: red;
      font-weight: 700;
    }
    @include flexbox();
    justify-content: space-between;
    &--center {
      a {

      }
    }
  }
}

.rightmenu {
  overflow: hidden;
  position: relative;
  margin: -80px 0 0 10px;
  padding: 7px 0 150px 7px;
  &__button {
    position: relative;
    display: block;
    border: solid 2px $red;
    margin: 0 0 -2px 0;
    height: $height-rightmenu__button;
    cursor: pointer;
    text-align: center;
    font-size: 150%;
    font-family: 'Poiret One', sans-serif;
    color: #000;
    text-shadow: black 0 0;
    line-height: $height-rightmenu__button;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 3px 3px 15px #737373, inset -5px -1px 2px $red;
    -moz-box-shadow: 3px 3px 15px #737373, inset -5px -1px 2px $red;
    box-shadow: 3px 3px 15px #737373, inset -5px -1px 2px $red;
    &.active {
      background-color: $color-active;
      @extend .rightmenu__button:hover;
    }
  }
  &__button:hover {
    font-size: 170%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 3px 4px 10px #737373, inset -5px -1px 3px $red;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 3px 4px 10px #737373, inset -5px -1px 3px $red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 3px 4px 10px #737373, inset -5px -1px 3px $red;
    -webkit-transition: all .1s ease 0s;
    -moz-transition: all .1s ease 0s;
    -o-transition: all .1s ease 0s;
    transition: all .1s ease 0s;
  }
  @for $i from 1 through 15 {
    .rightmenu__button-#{$i}:hover ~ .rightmenu__submenu-#{$i}, .rightmenu__submenu:hover {
      max-height: 600px;
      display: block;
      z-index: 10;
      -webkit-transition: max-height 1s ease .1s;
      -moz-transition: max-height 1s ease .1s;
      -o-transition: max-height 1s ease .1s;
      transition: max-height 1s ease .1s;
    }
  }
  &__submenu {
    &.active {
      position: relative;
      max-height: 600px;
    }
    position: relative;
    left: 5.5%;
    z-index: 3;
    width: 95%;
    -webkit-transition: max-height 1s ease 0s;
    -moz-transition: max-height 1s ease 0s;
    -o-transition: max-height 1s ease 0s;
    transition: max-height 1s ease 0s;
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 5px;
    &__button {
      font-size: 140%;
      padding: 0 0 0 10px;
      margin: -2px 0 0;
      background: linear-gradient(white, #afafaf);
      height: $height-rightmenu__submenu__button;
      @extend .rightmenu__button;
      line-height: $height-rightmenu__submenu__button;
      text-align: left;
      -webkit-box-shadow: 3px 4px 10px black, inset -5px -1px 3px $red;
      -moz-box-shadow: 3px 4px 10px black, inset -5px -1px 3px $red;
      box-shadow: 3px 4px 5px black, inset -5px -1px 3px $red, inset 2px 1px 10px white;
    }
    @for $i from 1 through 15 {
      .rightmenu__submenu__button-#{$i}:hover ~ .rightmenu__subsubmenu-#{$i}, .rightmenu__subsubmenu:hover {
        max-height: 300px;
        display: block;
        z-index: 10;
        -webkit-transition: max-height 1s ease .1s;
        -moz-transition: max-height 1s ease .1s;
        -o-transition: max-height 1s ease .1s;
        transition: max-height 1s ease .1s;
      }
    }
    .rightmenu__subsubmenu {
      @extend .rightmenu__submenu;
      position: relative;
      .rightmenu__subsubmenu__button {
        @extend .rightmenu__submenu__button;
        font-size: 130%;
      }
    }
  }
}

.card {
  border: dashed #cc1200 2px;
  margin: 5px;
  min-width: 160px;
  flex-basis: 23%;
  &:hover {
    -webkit-box-shadow: 4px 3px 10px grey;
    -moz-box-shadow: 4px 3px 10px grey;
    box-shadow: 4px 3px 10px grey;
    margin: 0 10px 10px 0;
    -webkit-transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
    -moz-transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
    -o-transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
    transition: margin .1s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
  }
  //&:hover .secondary-side__buy--arrow, &:hover .secondary-side__buy--title {
  //  opacity: 1;
  //  -webkit-transition: opacity .2s ease .2s;
  //  -moz-transition: opacity .2s ease .2s;
  //  -o-transition: opacity .2s ease .2s;
  //  transition: opacity .2s linear .2s;
  //}

  &__primary-side {
    //@include flexbox();
    //flex-direction: column;
    position: relative;
    .card__header {
      white-space: nowrap;
      font-family: 'Poiret One', sans-serif;
      color: red;
      text-shadow: #000000 0 0 15px, #000000 0 0 8px, #000000 0 0 5px, red 0 0 1px, red 0 0 1px, red 0 0 1px, red 0 0 1px, red 0 0 1px;
      z-index: 4;
      position: absolute;
      right: 5px;
      top: 5px;
      border-radius: 20px;
      max-width: 100%;
      font-size: 150%;
      padding: 10px;
      text-align: end;
      vertical-align: text-top;
      background-color: $card-color;
    }
    .card__image {
      max-width: 100%;
      max-height: 250px;
      margin: 0 auto 10px;
      display: block;
      image-rendering: -webkit-optimize-contrast;
    }
  }
  .card__bottom {
    @include flexbox();
    .card__description {
      flex-basis: 75%;
      flex-grow: 1;
      font-size: 1.5vmin;
      text-align: center;
      letter-spacing: 0.12em;
      padding: 0 1% 5% 5%;
      line-height: 90%;
    }
    .card__buttons {
      flex-basis: 25%;
      flex-grow: 1;
      button {
        padding: 0;
        position: relative;
        z-index: 1000;
        background-color: white;
        border-radius: 5px;
        border: #830000 2px solid;
        -webkit-box-shadow: 0 4px 3px black;
        -moz-box-shadow: 0 4px 3px black;
        box-shadow: 0 2px 4px black;
        margin: 0 0 10px;
        font-size: 1.5vh;
      }
      .secondary-side__buy {
        padding: 3px;
        border-radius: 10px;
        border: #c30000 3px solid;
        font-family: "Lobster", cursive;
        font-size: 2vh;
        background: linear-gradient(-30deg, white, #ff3e3f, white, white);
      }
    }
  }

  //&__secondary-side {
  //  position: relative;
  //  z-index: 5;
  //  margin-left: 10px;
  //  padding: 10px 5px 10px 0;
  //  flex-grow: 0;
  //  min-width: 55px;
  //  .secondary-side__choice {
  //
  //  }
  //  .secondary-side__buy--title {
  //    opacity: 0;
  //    color: $red;
  //    font-family: "Lobster", cursive;
  //    font-size: 110%;
  //    position: relative;
  //    top: 200px;
  //    right: 10px;
  //  }
  //  .secondary-side__fullpage {
  //    position: absolute;
  //    bottom: 90px;
  //    right: 0;
  //    height: 30px;
  //    width: 30px;
  //    background: url("images/product.svg") no-repeat;
  //  }
  //  .secondary-side__buy {
  //    position: absolute;
  //    bottom: 40px;
  //    right: 0;
  //    height: 30px;
  //    width: 30px;
  //    background: url("images/basket.svg") no-repeat;
  //    background-size: contain;
  //  }
  //  .secondary-side__buy--arrow {
  //    opacity: 0;
  //    position: absolute;
  //    width: 60px;
  //    height: 80px;
  //    border: 10px solid $color-arrow;
  //    border-right-color: transparent;
  //    border-bottom-color: transparent;
  //    border-top-color: transparent;
  //    border-bottom-left-radius: 50%;
  //    top: 255px;
  //  }
  //  .secondary-side__buy--arrow:after,
  //  .secondary-side__buy--arrow:before {
  //    content: "";
  //    display: block;
  //    position: absolute;
  //    width: 0;
  //    height: 0;
  //    border: 20px solid transparent;
  //    border-right: 0;
  //  }
  //  .secondary-side__buy--arrow:after {
  //    top: 46px;
  //    left: -6px;
  //    border-bottom-color: $color-arrow;
  //    border-top: 0;
  //    border-right: 0;
  //  }
  //}
}

.article {
  @include flexbox();
  flex-basis: 80%;
  flex-grow: 0;
  margin-top: 10px;
  &__img {
    flex-basis: 50%;
    flex-grow: 2;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }
  &__text {
    flex-basis: 50%;
    flex-grow: 2;
    font-family: "Tahoma", sans-serif;
    //background-color: yellow;
    h1 {
      font-size: 300%;
      margin: 25px 30px 5px 0;

    }
    h2 {
      font-size: 270%;
      margin: 25px 30px 5px 0;
    }
    p {
      margin: 25px 30px 5px 0;
    }
  }
}

.basket {
  flex-grow: 4;
  flex-basis: 78%;
  h1{
    text-align: center;
    font-family: "Tahoma", sans-serif;
    font-size: 200%;
    color: #8c8c8c;
    font-weight: 700;
    padding: 20px;
  }
  .basket__table {
    margin: 30px auto;
    padding: 30px;
    position: relative;
    .table__img{
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
      display: none;
      position: absolute;
      height: 50%;
      min-height: 200px;
      
    }
    td {
      padding: 7px;
      min-width: 150px;
    }
    caption {
      text-align: center;
      font-family: "Tahoma", sans-serif;
      font-size: 200%;
      color: #8c8c8c;
      font-weight: 700;
      padding: 20px;
    }
    thead {
      border-bottom: 2px #a5a5a5 solid;
      text-align: center;
      color: #5b5b5b;
      background-color: #d7d7d7;
      font-weight: 700;
      font-size: 80%;
      tr {
        td {
          padding: 15px;
        }
      }
    }
    tbody {
      a {
        color: $red;
        text-decoration: underline;
        font-weight: 700;
        font-size: 105%;
        &:hover ~ .table__img{
          display: block;
        }
      }
      font-size: 90%;
      text-align: center;
      color: #5b5b5b;
      input {
        width: 30%;
        text-align: end;
      }
      button {
        margin-left: 5px;
        border-radius: 3px;
        padding: 4px;
      }
      tr:nth-child(2n+1) {
        background-color: whitesmoke;
      }
      tr:nth-child(2n) {
        background-color: #e4e4e4;
      }
    }
    tfoot {
      border-top: 2px #a5a5a5 solid;
      font-weight: 700;
      text-align: end;
      tr {
        td {
          background-color: #d7d7d7;
          padding: 10px 70px;
        }
      }
    }
  }
  .buyer__info, .order{
    margin: 20px auto 50px;
    max-width: 900px;
    h4{
      font-family: "Tahoma", sans-serif;
      font-size: 140%;
      color: #606060;
      font-weight: 700;
    }
    input{
      padding: 2px;
      border-radius: 1px;
    }
    textarea{
      padding: 5px;
    }
  }
  button.confirm{
    display: block;
    background: linear-gradient(to bottom, red, $red);
    margin: 0 auto 100px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-family: "Tahoma", sans-serif;
    font-size: 200%;
    font-weight: 700;
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    box-shadow: 0 0 18px black;
    &:active{
      background: linear-gradient(to bottom, #e10000, #b80000) !important;
      margin: 5px auto 100px;
      -webkit-box-shadow: 0 0 2px black;
      -moz-box-shadow: 0 0 2px black;
      box-shadow: inset 0 0 10px #5d5d5d;
    }
  }
}

.footer {
  padding: 12px;
  height: 100px;
  background-color: #dfdfdf;
  &__navbar {
    a {
      color: red;
      font-weight: 700;
    }
    @include flexbox();
    justify-content: space-between;
    &--center {
      a {

      }
    }
  }
}

@media screen and (max-width: 1023px) {

  body {
    max-width: 100%;
    min-width: 100%;
  }
  .breadcrumbs {
    font-size: 130%;
  }
  .rightmenu__button {
    font-size: 200%;
    height: $height-rightmenu__button--phone;
    line-height: $height-rightmenu__button--phone;
  }
  .card {
    min-width: 30%;
    max-width: 90%;
    flex-basis: 80%;
    .card__bottom {
      .card__description {
        font-family: "Tahoma", sans-serif;
        font-size: 180%;
      }
    }
  }
}

