$pink-bg: #f4ade2;
$card-color: yellow;
html {
  min-height: 100%;
  background: url("images/snowflakes.png"), $pink-bg;
  animation: snow 5s linear infinite;
}

@keyframes snow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 172px;
  }
}

body {
  min-width: 1024px;
  max-width: 80%;
  margin: auto;
}

.card {

}